.carousel-card {
  padding: 20px 10px;
  width: 100%;

  &-image {
    display: block;
    width: auto;
    border-radius: 3px;
    overflow: hidden;

    a {
      @include flex;
      height: 183px;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &-text-group {
    @include column-flex;
    width: 100%;

    .title-group {
      .title {
        @include text-style(carousel-title-sm, $primary);
        margin-top: 20px;
      }

      .desc {
        @include text-style(carousel-desc-sm, $primary);
        margin-top: 6px;
      }
    }

    .btn-carousel-cta {
      @include flex;
    }
  }
}
