.carousel-card {
  padding: 20px 10px;
  width: 100%;

  &-image {
    display: block;
    width: 100%;
    height: 183px;
    border-radius: 3px;
    overflow: hidden;

    a {
      @include flex;
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &-text-group {
    display: block;
    position: static;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;

    .title {
      @include text-style(carousel-title-sm, $primary);
      margin-top: 20px;
    }

    .desc {
      @include text-style(carousel-desc-sm, $primary);
      margin-top: 6px;
    }
  }

  @include responsive(xxl) {
    position: relative;
    padding: 0;
    width: auto;

    &-image {
      width: 1060px;
      height: 300px;
    }

    &-text-group {
      @include column-flex(center, start);
      @include pos-center;
      width: 330px;
      padding: 0 20px;
      top: 215px;
      left: 185px;
      text-align: left;
      border-radius: 4px;
      background-color: $white;

      .title {
        @include text-style(carousel-title-lg, $primary);
        margin-top: 0;
        padding-top: 20px;
        width: 330px;
      }

      .desc {
        @include text-style(carousel-desc-lg, $primary);
        margin-top: 0;
        height: 44px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .divider {
        display: block;
        margin-left: -20px;
        width: 330px;
        height: 1px;
        border-style: none;
        background-color: $border;
      }
    }
  }
}
