.prevBtn,
.nextBtn {
  @include flex;
  position: absolute;
  top: 120px;
  width: 30px;
  height: 60px;
  background-color: $white;
  // opacity: 0.5;
  opacity: 1;
  border-radius: 25px;

  img {
    display: block;
    object-fit: cover;
  }
}

.prevBtn {
  left: calc((100% - 1200px) / 2);
}

.nextBtn {
  right: calc((100% - 1200px) / 2);
}
