// common
$font-main: -apple-system, Helvetica, Arial, 'Apple SD Gothic Neo',
  'Nanum Gothic', 'Malgun Gothic' sans-serif;

//   gnb

$font-size-gnb-sm: 13px;
$font-weight-gnb-sm: 600;
$line-height-gnb-sm: 20px;
$letter-spacing-gnb-sm: normal; // NOTE: for further modifications

$font-size-gnb-base: 14px;
$font-weight-gnb-base: 600;
$line-height-gnb-base: 20px;
$letter-spacing-gnb-base: normal; // NOTE: for further modifications

$font-size-btn-outlined: 13px;
$font-weight-btn-outlined: 400;
$line-height-btn-outlined: 2.3076923077; // NOTE: originally 30px, modified for consistency
$letter-spacing-btn-outlined: normal;

// carousel

$font-size-btn-ghost: 14px;
$font-weight-btn-ghost: 700;
$line-height-btn-ghost: 1;
$letter-spacing-btn-ghost: normal; // NOTE: for further modifications

$font-size-carousel-title-sm: 18px;
$font-weight-carousel-title-sm: 700;
$line-height-carousel-title-sm: 1;
$letter-spacing-carousel-title-sm: normal; // NOTE: for further modifications

$font-size-carousel-desc-sm: 13px;
$font-weight-carousel-desc-sm: 500;
$line-height-carousel-desc-sm: 1.15;
$letter-spacing-carousel-desc-sm: normal; // NOTE: for further modifications

$font-size-carousel-title-lg: 20px;
$font-weight-carousel-title-lg: 700;
$line-height-carousel-title-lg: 1.5;
$letter-spacing-carousel-title-lg: normal; // NOTE: for further modifications

$font-size-carousel-desc-lg: 14px;
$font-weight-carousel-desc-lg: 500;
$line-height-carousel-desc-lg: 1.64;
$letter-spacing-carousel-desc-lg: normal; // NOTE: for further modifications
