.App {
  .global-header {
    display: block;
    height: auto;
    width: 100%;
  }

  .TopCarousel {
    display: block;
    position: relative;
    height: 322px;
    width: 100%;
    margin-top: $gnb-height-md;

    @include responsive(lg) {
      margin-top: $gnb-height-lg;
    }

    @include responsive(xxl) {
      height: 300px;
      margin-top: $gnb-height-lg + 25px;
    }
  }
}
