.carousel {
  &-list {
    width: 100%;
    height: auto;
    padding: 0 40px;

    &-track {
      // @include flex;
      display: block;
    }
  }

  @include responsive(xxl) {
    @include flex;

    &-list {
      width: auto;
      padding: 0 50px;

      &-track {
        padding: 0 12px;
      }
    }
  }
}
