.gnb-buttons {
  @include flex(center, end);
  padding: 9px 0;

  &-item {
    &.is-noti {
      position: relative;

      .is-active {
        @include flex;
        @include pos-center;
        top: 7px;
        left: 28px;
        width: 13px;
        height: 13px;
        background-color: $blue;
        border-radius: 5px;
      }
    }

    .gnb-icon-search,
    .gnb-icon-noti,
    .gnb-icon-more {
      @include flex;

      img {
        display: block;
        width: 18px;
        height: 18px;
      }
    }

    .gnb-icon-search,
    .gnb-icon-noti {
      padding: 5px;
    }

    .gnb-icon-more {
      padding: 5px 5px 5px 10px;
      margin-right: 10px;
    }
  }

  @include responsive(sm) {
    margin-top: -10px; // NOTE: visual alignment
  }

  @include responsive(md) {
    &-item {
      .gnb-icon-noti {
        margin-right: 5px;
      }

      .gnb-icon-more {
        margin-right: 0;
      }
    }
  }

  @include responsive(lg) {
    margin-top: 3px; // NOTE: visual alignment

    &-item {
      .gnb-icon-search,
      .gnb-icon-noti {
        margin-bottom: 3px; // NOTE: visual alignment
      }

      &.is-avatar {
        margin-right: 5px;
      }

      &.is-cta {
        margin-bottom: 4px; // NOTE: visual alignment
      }
    }

    &-divider {
      display: inline-block;
      margin: 10px 10px (10px + 3px) 10px; // NOTE: visual alignment 3px
      width: 1px;
      height: 10px;
      border-radius: 25px;
      background-color: $border;
    }
  }

  @include responsive(xxl) {
    margin-top: 0; // NOTE: visual alignment

    &-item {
      .gnb-icon-search,
      .gnb-icon-noti {
        margin-bottom: 0; // NOTE: visual alignment
        padding: 10px;
      }

      .gnb-icon-noti {
        margin-right: 10px;
      }

      &.is-avatar {
        margin-bottom: 1px; // NOTE: visual alignment
      }

      &.is-cta {
        margin-bottom: 4px; // NOTE: visual alignment
        margin-left: 15px;
      }
    }
  }
}
