.gnb-buttons {
  @include flex(center, end);
  padding: 9px 0;

  &-item {
    .gnb-icon-search,
    .gnb-icon-noti,
    .gnb-icon-more {
      @include flex;

      img {
        display: block;
        width: 18px;
        height: 18px;
      }
    }

    .gnb-icon-search,
    .gnb-icon-noti {
      padding: 5px;
    }

    .gnb-icon-more {
      padding: 5px 5px 5px 10px;
      margin-right: 10px;
    }
  }

  @include responsive(sm) {
    margin-top: -10px; // NOTE: visual alignment
  }

  @include responsive(md) {
    &-item {
      .gnb-icon-noti {
        margin-right: 5px;
      }

      .gnb-icon-more {
        margin-right: 0;
      }
    }
  }

  @include responsive(lg) {
    &-item {
      &.is-avatar {
        margin-right: 5px;
      }
    }

    &-divider {
      display: inline-block;
      margin: 10px;
      width: 1px;
      height: 10px;
      border-radius: 25px;
      background-color: $border;
    }
  }

  @include responsive(xxl) {
    &-item {
      .gnb-icon-search,
      .gnb-icon-noti {
        padding: 10px;
      }

      .gnb-icon-noti {
        margin-right: 10px;
      }

      &.is-cta {
        margin-left: 15px;
      }
    }
  }
}
