.gnb-buttons {
  @include flex;
  padding: 6px 0;
  margin-top: -3px;

  &-item {
    .gnb-icon-search,
    .gnb-icon-noti,
    .gnb-icon-more {
      @include flex;

      img {
        display: block;
        width: 18px;
        height: 18px;
      }
    }

    .gnb-icon-search,
    .gnb-icon-noti {
      padding: 0 5px;
    }

    .gnb-icon-more {
      padding: 0 5px 0 10px;
      margin-right: 10px;
    }
  }

  @include responsive(md) {
    &-item {
      .gnb-icon-noti {
        margin-right: 5px;
      }

      .gnb-icon-more {
        margin-right: 0;
      }
    }
  }

  @include responsive(lg) {
    &-item {
      &.is-avatar {
        margin-right: 5px;
      }
    }

    &-divider {
      display: inline-block;
      margin: 10px;
      width: 1px;
      height: 10px;
      border-radius: 25px;
      background-color: $border;
    }
  }
}
