.gnb-nav {
  $lg-item-height: 20px;
  $lg-item-community-width: 48px; // NOTE: rounded-off width of .gnb-nav-item.community
  $lg-item-aiscore-width: 66px; // NOTE: rounded-off width of .gnb-nav-item.aiscore
  $lg-item-add-top: 4px;
  $lg-item-left-gap: 28px;

  &-list {
    @include flex(start);
  }

  &-item {
    @include text-style(gnb-base, $primary);
    height: 50px;

    a {
      @include text-style(gnb-sm, $primary);
      display: inline-block;
      padding: 15px 8px;
    }

    &.xs-sm-only {
      border-bottom: 1px solid $blue;

      a {
        padding-left: 20px;
      }
    }
  }

  @include responsive(sm) {
    &-item {
      a {
        font-size: $font-size-gnb-base;
      }
    }
  }

  @include responsive(md) {
    margin-right: 30px;

    &-item {
      white-space: nowrap;

      a {
        font-size: $font-size-gnb-sm;
        padding: 11px 10px 19px;
      }

      &.community,
      &.aiscore {
        a {
          display: inline-block;
          position: relative;

          strong {
            @include pos-center;
            width: auto;
            height: 20px;
            font-family: $font-main;
            font-size: 9px;
            font-weight: 600;
            line-height: 1.2;
            color: $blue;
          }
        }
      }

      &.community {
        a {
          strong {
            top: $lg-item-height + $lg-item-add-top;
            left: $lg-item-community-width + $lg-item-left-gap;
          }
        }
      }

      &.aiscore {
        a {
          strong {
            top: $lg-item-height + $lg-item-add-top;
            left: $lg-item-aiscore-width + $lg-item-left-gap;
          }
        }
      }
    }
  }

  @include responsive(lg) {
    margin-right: 0;
    flex-grow: 1;

    &-list {
      @include flex(evenly);
      width: 100%;
    }

    &-item {
      a {
        padding: 15px 0;
      }
    }
  }

  @include responsive(xl) {
    &-list {
      @include flex;
    }
    &-item {
      a {
        padding: 15px;
        font-size: $font-size-gnb-base;
      }
    }
  }
}
