.gnb {
  background-color: $white;
  border-bottom: 1px solid rgba($black, 0.1);

  &-wrapper {
    @include flex(between);
    flex-wrap: wrap;
  }

  &-left {
    @include flex(start);
    width: 100%;
    height: 60px;

    &-job-category-btn {
      @include flex;
      margin-right: 15px;
      padding-top: 2px; // NOTE: visual alignment
      width: 14px;
      height: 14px;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-logo {
      a {
        @include flex;
        height: 22px;

        .icon-logo_new {
          font-size: 17px;
        }
      }
    }
  }

  &-right {
    @include flex;
    position: relative;
  }
}
